{{#each gallery}}
  <div class="author_box">
    <h1 class="author">{{author}}</h1>
  </div>
  <div class="picture_box">
    <p class="picture"><img src="{{link}}" ></p>
  </div>
  <div class="descript_box">
    <p class="descript">description: {{description}}</p>
  </div>
{{/each}}