<form method = "POST" action="/gallery/{{gallery.id}}/edit?_method=PUT">
<input type="text" name = "author" >
<br>
link<br>
<input type="text" name = "link">
<br>
description<br>
<input type="text" name="description">
<br><br>
<input type="submit" value="submit">
</form>