<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home Page</title>
   <link rel="stylesheet" href="./styles/app.css" type="text/css">
</head>
<body>
  <h1 class="header">_ARCHITEKH</h1>
  {{>allPhotos}}
</body>
</html>